<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  {{!-- TOPO NAV --}}
  <nav class="navBar">
    <figure class="logo">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSTSdFO9pgM_IqiIrwPpjDYJIUDneUbanvqGedjey2ivvmFzWPe"
        alt="">
    </figure>
    <form action="" class="formSearch">
      <label for="search"></label>
      <input type="search" placeholder="Search...">
      <button type="submit">
        <figure class="lupa">
          <img src="" alt="">
        </figure>
      </button>
    </form>
  </nav>

  {{!-- MAIN PRINCIPAL --}}
  <main class="allVideos">
    <article class="box-videos">
      <figure class="img-boxes">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR8qRDTDtMKswsNqGiCzEkg36BWoDG3D3qYVnOVaOg4Anek8VfM"
          alt="">
      </figure>
      <div class="box-info">
        <figure class="img-user">
          <img src="https://i.pinimg.com/originals/f5/56/1c/f5561c88e5d460a47155584363ff15b4.jpg" alt="">
        </figure>
        <div class="text-box-info">
          <h1>Title</h1>
          <p>Info</p>
        </div>
      </div>
    </article>

    <article class="box-videos">
      <figure class="img-boxes">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRaPmBgH9fi8TIPZ_2ZggyhjHDp7Jf8sX0ycVXnrvrzDwI0E3fY"
          alt="">
      </figure>
      <div class="box-info">
        <figure class="img-user">
          <img src="https://i.pinimg.com/originals/f5/56/1c/f5561c88e5d460a47155584363ff15b4.jpg" alt="">
        </figure>
        <div class="text-box-info">
          <h1>Title</h1>
          <p>Info</p>
        </div>
      </div>
    </article>

    <article class="box-videos">
      <figure class="img-boxes">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQHH89Y_4RG0xt31JHh3vhiCiTvpF6kqSDLDi14yNhDZkjU2fQW"
          alt="">
      </figure>
      <div class="box-info">
        <figure class="img-user">
          <img src="https://i.pinimg.com/originals/f5/56/1c/f5561c88e5d460a47155584363ff15b4.jpg" alt="">
        </figure>
        <div class="text-box-info">
          <h1>Title</h1>
          <p>Info</p>
        </div>
      </div>
    </article>

    <article class="box-videos">
      <figure class="img-boxes">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTtNJxju9jBYLeMBTRI_J14JEZq_tvtQhKnZatkf0CV0QTcl5-c"
          alt="">
      </figure>
      <div class="box-info">
        <figure class="img-user">
          <img src="https://i.pinimg.com/originals/f5/56/1c/f5561c88e5d460a47155584363ff15b4.jpg" alt="">
        </figure>
        <div class="text-box-info">
          <h1>Title</h1>
          <p>Info</p>
        </div>
      </div>
    </article>
  </main>

  {{!-- FOOTER ICONES OPCÕES --}}
  <footer>
    <div class="icon-footer">
      <figure class="figure-icon-footer">
        <img src="https://i.pinimg.com/originals/de/a8/55/dea8558d859c55aacbb34c28e8817d5c.jpg" alt="">
      </figure>
    </div>
    <div class="icon-footer">
      <figure class="figure-icon-footer">
        <img src="https://i.pinimg.com/originals/de/a8/55/dea8558d859c55aacbb34c28e8817d5c.jpg" alt="">
      </figure>
    </div>
    <div class="icon-footer">
      <figure class="figure-icon-footer">
        <img src="https://i.pinimg.com/originals/de/a8/55/dea8558d859c55aacbb34c28e8817d5c.jpg" alt="">
      </figure>
    </div>
    <div class="icon-footer">
      <figure class="figure-icon-footer">
        <img src="https://i.pinimg.com/originals/de/a8/55/dea8558d859c55aacbb34c28e8817d5c.jpg" alt="">
      </figure>
    </div>
  </footer>

</body>

</html>